/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
	text-decoration-thickness: 1px !important;
	text-underline-offset: .1em;
}

/* Test Change */
body {
    border: 10px solid #3498db;
    background-color: #f0f8ff !important;
}