name: Deploy WordPress to Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Deploy to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./*, !.git, !.github"
          target: "/home/${{ secrets.VM_USERNAME }}/deploy_tmp" # Land files in a temp home folder first
          rm: true

      - name: Move Files with Sudo and Reload
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            
            sudo cp -r /home/${{ secrets.VM_USERNAME }}/deploy_tmp/. /var/www/html/
            
            rm -rf /home/${{ secrets.VM_USERNAME }}/deploy_tmp
            
            sudo chown -R www-data:www-data /var/www/html
            sudo find /var/www/html -type d -exec chmod 775 {} \;
            sudo find /var/www/html -type f -exec chmod 664 {} \;
            
            sudo systemctl reload nginx

      # - name: Checkout Code
      #   uses: actions/checkout@v4

      # - name: Deploy to Server via SSH
      #   uses: appleboy/scp-action@master
      #   with:
      #     host: ${{ secrets.VM_IP }}
      #     username: ${{ secrets.VM_USERNAME }}
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     # source: "."
      #     source: "./*, !.git, !.github"
      #     target: "/var/www/html"
      #     strip_components: 0

      # - name: Post-Deployment Commands
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.VM_IP }}
      #     username: ${{ secrets.VM_USERNAME }}
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     script: |
      #       sudo chown -R www-data:www-data /var/www/html
      #       sudo chmod -R 755 /var/www/html
      #       sudo systemctl reload nginx