name: Deploy WordPress to Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Upload to Landing Zone
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VM_IP}}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # Source "." ensures we grab everything in the repo root
          source: "."
          # Target is your user's home folder (no permission issues here)
          target: "/home/${{ secrets.VM_USERNAME }}/wordpress_staging"
          rm: true

      - name: Move to Production & Fix Permissions
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            
            sudo mkdir -p /var/www/html

            sudo cp -ra /home/${{ secrets.VM_USERNAME }}/wordpress_staging/. /var/www/html/

            sudo rm -rf /var/www/html/.git
            sudo rm -rf /var/www/html/.github

            sudo chown -R www-data:www-data /var/www/html

            sudo find /var/www/html -type d -exec chmod 755 {} \;
            sudo find /var/www/html -type f -exec chmod 644 {} \;

            sudo systemctl reload nginx
            
            rm -rf /home/${{ secrets.VM_USERNAME }}/wordpress_staging